Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

.lintstagedrc:

{
  "*.css": [
    "./node_modules/stylelint/bin/stylelint.js --fix"
  ],
  "*.{js,jsx}": [
    "./node_modules/eslint/bin/eslint.js --fix"
  ],
  "*.{htm,html}": [
    "./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc"
  ],
  ".*{rc,json}": [
    "./node_modules/jsonlint/lib/cli.js --compact"
  ]
}

update
  package-lock.json
  package.json
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-category-menu.css
  static/itcase_catalog/css/catalog-filter-popup.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  static/itcase_catalog/css/catalog-icon.css
  static/itcase_catalog/css/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-item.css
  static/itcase_catalog/css/catalog-item_type_action.css
  static/itcase_catalog/css/catalog-item_type_big.css
  static/itcase_catalog/css/catalog-item_type_hit.css
  static/itcase_catalog/css/catalog-item_type_recommended.css
  static/itcase_catalog/css/catalog-list.css
  static/itcase_catalog/css/catalog-loading.css
  static/itcase_catalog/css/catalog-menu-popup.css
  static/itcase_catalog/css/catalog-nav.css
  static/itcase_catalog/css/catalog-related.css
  static/itcase_catalog/css/catalog-sort.css
  static/itcase_catalog/css/catalog.css
  static/itcase_catalog/css/import.css
  static/itcase_catalog/css/irs.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page
  static/css/__main.css
  static/css/settings.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed_type_main-page.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update main page
  settings/filebrowser.py
  static/css/__main.css
  static/css/settings.css
  static/img/icon/add_to_cart.svg
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item.css
  static/itcase_catalog/css/catalog-item_type_big.css
  static/itcase_catalog/css/catalog-item_type_main-page.css
  static/itcase_feed/css/__feed.css
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#21. fixed getting image url
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item.css
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue14. add image field to Price model. correcting getting images urls
  modules/catalog/migrations/0014_price_image.py
  modules/catalog/models/parametres.py
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page
  Makefile
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update logos
  settings/filebrowser.py
  templates/base.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page
  static/css/__main.css
  static/css/content/content-block/content-block-column.css
  static/css/content/content-block/content-block-image.css
  static/css/content/content-block/content-block-item.css
  static/css/content/content-block/content-block.css
  static/css/content/content-block/content-block_type_calc.css
  static/css/content/content-block/content-block_type_columns.css
  static/css/content/content-block/content-block_type_fifth-pattern.css
  static/css/content/content-block/content-block_type_left-pattern-thirdly.css
  static/css/content/content-block/content-block_type_left-pattern.css
  static/css/content/content-block/content-block_type_left.css
  static/css/content/content-block/content-block_type_links.css
  static/css/content/content-block/content-block_type_main.css
  static/css/content/content-block/content-block_type_menu.css
  static/css/content/content-block/content-block_type_neutral-pattern.css
  static/css/content/content-block/content-block_type_neutral.css
  static/css/content/content-block/content-block_type_pattern-primary.css
  static/css/content/content-block/content-block_type_pattern-thirdly.css
  static/css/content/content-block/content-block_type_right-pattern-fifth.css
  static/css/content/content-block/content-block_type_right-pattern-primary.css
  static/css/content/content-block/content-block_type_right-pattern-secondary.css
  static/css/content/content-block/content-block_type_right-pattern.css
  static/css/content/content-block/content-block_type_right.css
  static/css/content/content-block/content-block_type_services.css
  static/css/content/content-block/content-block_type_text.css
  static/css/content/content-hands.css
  static/css/content/content-table_type_compare.css
  static/css/content/content-table_type_logotype.css
  static/css/content/content-text.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_logos/css/__logos.css
  static/itcase_logos/css/logos-list.css
  static/itcase_logos/css/logos-title.css
  static/itcase_logos/css/logos_type_main_page.css
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#22. fixed output footer_categories. rename tag footer_categories to footer_categories_tag
  modules/catalog/templatetags/catalog_tags.py
  templates/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#23. add templatetag clipped_subcategories
  modules/catalog/templatetags/catalog_tags.py
  templates/itcase_catalog/include/clipped_subcategories.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#23. fixed what if category not submit
  modules/catalog/templatetags/catalog_tags.py
Due: none

issue#23. add default value for limit
  modules/catalog/templatetags/catalog_tags.py
Due: none

update main page
  static/css/__main.css
  static/img/icon/search.svg
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item_type_action.css
  static/itcase_catalog/css/catalog-item_type_hit.css
  static/itcase_catalog/css/catalog-item_type_main-page.css
  static/itcase_catalog/css/catalog-item_type_recommended.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_catalog/css/catalog-menu_type_footer.css
  static/itcase_logos/css/__logos.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

issue#23. change way to output subcategories in clipped_subcategories
  modules/catalog/templatetags/catalog_tags.py
  templates/itcase_catalog/include/clipped_subcategories.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update catalog
  package.json
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_catalog/css/catalog-item.css
  static/itcase_catalog/css/catalog-item_type_main-page.css
  static/itcase_catalog/css/catalog-list.css
  templates/itcase_catalog/include/catalog_group.html
  templates/itcase_catalog/include/catalog_list.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#23. refactoring for subcategories queryset
  modules/catalog/templatetags/catalog_tags.py
  templates/itcase_catalog/include/clipped_subcategories.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update nav
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/nav/nav.css
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/include/catalog_list.html
  templates/itcase_catalog/include/categories_list.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group__inner-list.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

issue#16. change Product.measurment from PositiveSmallIntegerField to ForeignKey
  modules/catalog/admin.py
  modules/catalog/migrations/0015_auto_20200806_1621.py
  modules/catalog/models/catalog.py
Due: none

issue#24. fixed get category image in categories_list.html
  templates/itcase_catalog/include/categories_list.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

rename templates and add responsive cat images
  modules/catalog/templatetags/catalog_tags.py
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/include/catalog_categories_list.html
  templates/itcase_catalog/include/catalog_footer_menu.html
  templates/itcase_catalog/include/catalog_group.html
  templates/itcase_catalog/include/catalog_group_hidden.html
  templates/itcase_catalog/include/catalog_nav.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update catalog
  static/css/__main.css
  static/css/button/button.css
  static/css/settings.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-title.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/nav/nav.css
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update search
  static/itcase_search/css/__search.css
  static/itcase_search/css/search.css
  static/itcase_search/css/search_type_quick.css
  templates/base.html
  templates/itcase_catalog/include/catalog_nav.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#18. add inline section for tabs of attrebutes
  modules/catalog/admin.py
  modules/catalog/migrations/0016_auto_20200807_1521.py
  modules/catalog/models/catalog.py
Due: none

update catalog menu
  gulpfile.modules.js
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu-popup.css
  static/itcase_catalog/js/main.js
  static/itcase_catalog/js/popupMenu.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

update menu
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu-popup.css
  static/itcase_catalog/js/popupMenu.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

issue#27. add if in get_categories_by.html for use or not catalog_group_hidden by limit
  modules/catalog/templatetags/catalog_tags.py
  templates/itcase_catalog/include/get_categories_by.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update popup
  package-lock.json
  package.json
  static/itcase_common/css/__common.css
  static/itcase_common/css/fader/fader.css
  static/itcase_common/css/form/form-button/form-button.css
  static/itcase_common/css/form/form-button/form-button_state_disabled.css
  static/itcase_common/css/form/form-buttons/form-buttons.css
  static/itcase_common/css/form/form-checkbox/form-checkbox.css
  static/itcase_common/css/form/form-fields/form-field-error.css
  static/itcase_common/css/form/form-fields/form-field-message.css
  static/itcase_common/css/form/form-fields/form-field-valid.css
  static/itcase_common/css/form/form-fields/form-field__item-hint.css
  static/itcase_common/css/form/form-fields/form-field__item.css
  static/itcase_common/css/form/form-fields/form-field__item_checkbox.css
  static/itcase_common/css/form/form-fields/form-field__item_state_empty.css
  static/itcase_common/css/form/form-fields/form-field__item_state_error.css
  static/itcase_common/css/form/form-fields/form-field__item_state_in-group.css
  static/itcase_common/css/form/form-input/form-input.css
  static/itcase_common/css/form/form-message/form-message.css
  static/itcase_common/css/form/form-message/form-message_type_error.css
  static/itcase_common/css/form/form-message/form-message_type_on-page.css
  static/itcase_common/css/form/form-message/form-message_type_success.css
  static/itcase_common/css/form/form-response/form-response.css
  static/itcase_common/css/form/form-textarea/form-textarea.css
  static/itcase_common/css/form/form.css
  static/itcase_common/css/form/form_type_hide_messages.css
  static/itcase_common/css/form/form_type_page.css
  static/itcase_common/css/popup/popup-content.css
  static/itcase_common/css/popup/popup-loading.css
  static/itcase_common/css/popup/popup_question.css
  static/itcase_common/css/popup/popup_state_message.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/base.html
  templates/itcase_catalog/catalog.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update popup
  templates/itcase_catalog/catalog.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update cart
  static/css/__main.css
  static/css/button/button.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-empty.css
  static/itcase_cart/css/cart-info.css
  static/itcase_cart/css/cart-list/cart-list.css
  static/itcase_cart/css/cart-list/cart-list__item.css
  static/itcase_cart/css/cart-list/cart-list__item_type_pdf.css
  static/itcase_cart/css/cart-order/cart-order.css
  static/itcase_cart/css/cart-order/cart-order__agree.css
  static/itcase_cart/css/cart-order/cart-order__delivery-method.css
  static/itcase_cart/css/cart-order/cart-order__group.css
  static/itcase_cart/css/cart-order/cart-order__payment.css
  static/itcase_cart/css/cart.css
  templates/itcase_cart/include/cart_items.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#33. add tag get_categories_by to catalog.html
  templates/itcase_catalog/catalog.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#34. remove template legacy from santeh
  templates/itcase_pages/page.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#18. add output in template for product.sections
  modules/catalog/models/catalog.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

js things for #26
  bower.json
  package-lock.json
  static/css/__main.css
  static/css/vendor/ion.rangeSlider.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/libs.js
  static/js/main.js
  static/js/vendor/ion.rangeSlider.min.js
  templates/itcase_catalog/include/catalog_group.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

init mobile
  requirements.txt
  settings/core.py
  static/css/__main.css
  static/css/footer/footer.css
  static/css/header/header.css
  static/css/logo/logo.css
  static/css/wrapper/wrapper.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_catalog/css/catalog-menu_type_footer.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed_type_main-page.css
  static/itcase_logos/css/__logos.css
  static/itcase_logos/css/logos-list.css
  static/itcase_logos/css/logos-title.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/__fader/site-menu__fader.css
  static/itcase_pages/css/site-menu/site-menu-list.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
  static/itcase_pages/css/site-menu/site-menu.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-item.css
  static/itcase_rotator/css/rotator-wrapper.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

init main-page
  static/css/__main.css
  static/css/content/content-text.css
  static/css/content/content_type_main-page.css
  static/css/footer/footer.css
  static/css/header/header.css
  static/css/logo/logo.css
  static/img/icon/search_black.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  static/itcase_logos/css/__logos.css
  static/itcase_logos/css/logos-list.css
  static/itcase_logos/css/logos_type_main_page.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu.css
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page
  static/css/__main.css
  static/css/content/content_type_main-page.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/nav/nav.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update
  package.json
  static/css/__main.css
  static/css/footer/footer.css
  static/css/settings.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  static/itcase_catalog/css/catalog-item-detail.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_pages/css/__pages.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-pagination.css
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_related.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc
