Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

.lintstagedrc:

{
  "*.css": [
    "./node_modules/stylelint/bin/stylelint.js --fix"
  ],
  "*.{js,jsx}": [
    "./node_modules/eslint/bin/eslint.js --fix"
  ],
  "*.{htm,html}": [
    "./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc"
  ],
  ".*{rc,json}": [
    "./node_modules/jsonlint/lib/cli.js --compact"
  ]
}

change tabs for #41
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  static/itcase_catalog/js/main.js
  static/itcase_catalog/js/productDetail/contentTabs.js
  static/itcase_feed/css/__feed.css
  static/itcase_rotator/css/__rotator.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update second
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group-second.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  templates/itcase_catalog/include/catalog_group_second.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update category text
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  templates/itcase_catalog/include/catalog_group_second.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

seo title
  static/css/__main.css
  static/css/content/content-text.css
  static/itcase_catalog/css/__catalog.css
  templates/itcase_catalog/catalog_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#48. add seo fields to Product
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0024_auto_20200813_1817.py
  modules/catalog/models/catalog.py
Due: none

issue#39. add itcase_files
  requirements-itcase.txt
  requirements.txt
  settings/core.py
  templates/base.html
  templates/itcase_pages/page.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#31. add urls and view for categories lvl=2
  modules/catalog/models/catalog.py
  modules/catalog/urls.py
  modules/catalog/views/__init__.py
  templates/itcase_catalog/include/catalog_group_second.html
  urls.py
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

sort and small clean
  modules/catalog/views/__init__.py
  static/itcase_catalog/js/catalogSort.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_group_second.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#46. add model for category inline content sections.
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0025_auto_20200814_1316.py
  modules/catalog/models/catalog.py
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add tiny class
  modules/catalog/admin/__init__.py
  static/css/__main.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

issue#43. set field amount in Price to blank=True, null=True
  modules/catalog/migrations/0026_auto_20200814_1450.py
  modules/catalog/models/parametres.py
Due: none

update page
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_pages/page.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

work on product detail page
  modules/catalog/models/catalog.py
  modules/catalog/models/parametres.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

params on product detail
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add
  static/itcase_catalog/js/productDetail/parametres.js
Due: ./node_modules/eslint/bin/eslint.js --fix

issue#53. add field sort to SeparateParametrPicking
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0027_auto_20200817_1329.py
  modules/catalog/models/parametres.py
Due: none

fix template itcase_pages/page.html rename navigation.html to nav.html
  templates/itcase_pages/page.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#42. swapp model rotator(for make pages field not required). add field rotator_units for category. templatetag category_rotator
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0028_category_rotator_units.py
  modules/catalog/models/catalog.py
  modules/rotator/__init__.py
  modules/rotator/apps.py
  modules/rotator/conf.py
  modules/rotator/migrations/0001_initial.py
  modules/rotator/migrations/0002_auto_20200817_1747.py
  modules/rotator/migrations/__init__.py
  modules/rotator/models.py
  modules/rotator/templatetags/__init__.py
  modules/rotator/templatetags/rotator_tags.py
  settings/core.py
  settings/project.py
  templates/itcase_catalog/catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Alter 'slug' on 'catalog.Category' model
  modules/catalog/migrations/0029_alter__slug__on__category.py
  modules/catalog/models/catalog.py
Due: none

Prepare catalog for data from exist site
  modules/catalog/admin/__init__.py
  modules/catalog/admin/forms.py
  modules/catalog/migrations/0030_add__categories__to__product.py
  modules/catalog/migrations/0031_add__values__in__categories__on__product.py
  modules/catalog/migrations/0032_add__slug__to__product.py
  modules/catalog/migrations/0033_gen__unique__slug__on__product.py
  modules/catalog/migrations/0034_make__slug__unique__on__product.py
  modules/catalog/migrations/0035_add__content__to__product.py
  modules/catalog/models/catalog.py
  modules/catalog/urls.py
  modules/catalog/views/__init__.py
Due: none

Replace Raven with Sentry SDK
  defaults/prod.local.py
  requirements.txt
  settings/core.py
  settings/logging.py
Due: none

Add 'sort' to 'catalog.Product'
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0036_add__sort__to__product.py
  modules/catalog/models/catalog.py
Due: none

issue#54. in product.get_first_image add getting image from product.prices
  modules/catalog/models/catalog.py
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#52. add field in model Product for shordescription
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0037_product_short_description.py
  modules/catalog/models/catalog.py
Due: none

add method get_all_images for product
  modules/catalog/models/catalog.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update rotator
  package.json
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

item detail amount field
  static/itcase_catalog/js/main.js
  static/itcase_catalog/js/productDetail/events.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#55. add field for image description to Price model
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0038_price_image_description.py
  modules/catalog/models/parametres.py
Due: none

issue#57. add field show to Price model
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0039_price_show.py
  modules/catalog/models/parametres.py
Due: none

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update related
  templates/itcase_catalog/include/catalog_related.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix text
  static/css/__main.css
  static/css/content/content-text.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

add paginator
  static/itcase_paginator/css/__paginator.css
  static/itcase_paginator/css/paginator.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update feed
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed-list/feed-list.css
  static/itcase_feed/css/feed-list/feed-list__item.css
  static/itcase_feed/css/feed_type_main-page.css
  static/itcase_paginator/css/__paginator.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

add wrapper
  templates/base.html
  templates/itcase_catalog/catalog.html
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/other_catalog_groups.html
  templates/itcase_feed/feed_detail.html
  templates/itcase_feed/feed_list.html
  templates/itcase_pages/page.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#55. add output image_description(model Price) in method Poduct.get_all_images()
  modules/catalog/models/catalog.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#60. use product.slug in urls
  modules/catalog/models/catalog.py
  modules/catalog/views/__init__.py
Due: none

add min/max values for amount field
  static/itcase_catalog/js/productDetail/events.js
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update cart detail template
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item/catalog-item-gallery.css
  static/itcase_feed/css/__feed.css
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc
