Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

.lintstagedrc:

{
  "*.css": [
    "./node_modules/stylelint/bin/stylelint.js --fix"
  ],
  "*.{js,jsx}": [
    "./node_modules/eslint/bin/eslint.js --fix"
  ],
  "*.{htm,html}": [
    "./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc"
  ],
  ".*{rc,json}": [
    "./node_modules/jsonlint/lib/cli.js --compact"
  ]
}

update cart
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-related.css
  templates/itcase_catalog/include/catalog_related.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_cart/css/cart-button.css
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update filter
  static/css/__main.css
  static/css/cookies-warning/cookies-warning.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-loading.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_catalog/js/popupMenu.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

update product cart
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-item-detail.css
  static/itcase_catalog/css/irs.css
  static/itcase_catalog/js/popupMenu.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-detail.css
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item_type_main-page.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

add FieldExistsMixin to Product model
  modules/catalog/models/catalog.py
Due: none

refactoring catalog.views. move to separate folder. move method get_pretty_object_list to mixin PretyObjectMixin
  modules/catalog/views/__init__.py
  modules/catalog/views/mixins.py
Due: none

issue#28. remove field color from ProductImage
  modules/catalog/migrations/0017_remove_productimage_color.py
  modules/catalog/models/parametres.py
Due: none

issue#35. hide field options from ProductAdmin
  modules/catalog/admin.py
Due: none

catalog and cart JS: show hidden categories, fix cart button text
  static/itcase_catalog/js/catalogGroups.js
  static/itcase_catalog/js/main.js
  static/itcase_catalog/js/popupMenu.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

cart detail
  static/img/icon/add_to_cart_white.svg
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-detail.css
  static/itcase_pages/css/__pages.css
  templates/base.html
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#36. add field filter_parametres to Category model. For control of parametres in filter
  modules/catalog/admin.py
  modules/catalog/migrations/0018_category_filter_parametres.py
  modules/catalog/models/catalog.py
  modules/catalog/views/__init__.py
Due: none

refactoring css
  static/css/__main.css
  static/css/button/button_type_primary.css
  static/css/header/header.css
  static/css/settings.css
  static/css/wrapper/wrapper.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/__list/catalog-filter-group__list.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/__range/catalog-filter-group__range.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/__title/catalog-filter-group__title.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/catalog-filter-group.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-item/catalog-item_type_main-page.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_catalog/css/catalog-menu/catalog-menu_type_footer.css
  static/itcase_catalog/css/catalog-sort.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/base.html
  templates/itcase_catalog/include/catalog_categories_list.html
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update filter
  static/css/settings.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/__list/catalog-filter-group__list.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/catalog-filter-group.css
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#4. model OptionalProduct for inline tabs with related products
  modules/catalog/admin.py
  modules/catalog/migrations/0019_optionalproduct.py
  modules/catalog/models/catalog.py
Due: none

replace header cart button empty text
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

add django widget tweaks and bottom footer
  settings/core.py
  static/css/__main.css
  static/css/main.css
  static/css/wrapper/wrapper.css
  static/itcase_pages/css/__pages.css
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_pages/include/menu.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#4. remove related_products and recommend_products from Product
  modules/catalog/admin.py
  modules/catalog/migrations/0020_auto_20200810_1813.py
  modules/catalog/models/catalog.py
  templates/itcase_catalog/include/catalog_related.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add django-widget-tweaks to requirements.txt
  requirements.txt
Due: none

issue#32. hide fields price and article in model Product. fix output price/old_price in catalog_item.html
  modules/catalog/admin.py
  modules/catalog/migrations/0021_auto_20200810_1952.py
  modules/catalog/models/catalog.py
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add sort option for #37
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update pages
  static/css/__main.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed-list/feed-list__item.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/page-title.css
  static/itcase_pages/css/page.css
  templates/itcase_feed/feed_list.html
  templates/itcase_pages/page.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update feed
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed-detail.css
  static/itcase_feed/css/feed-list/feed-list.css
  static/itcase_feed/css/feed-list/feed-list__item-title.css
  static/itcase_feed/css/feed-list/feed-list__item.css
  static/itcase_feed/css/feed.css
  templates/itcase_feed/feed_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  settings/__init__.py
  settings/forms_builder.py
  static/css/settings.css
  static/itcase_common/css/__common.css
  static/itcase_common/css/form/form-button/form-button.css
  static/itcase_common/css/form/form-button/form-button_state_disabled.css
  static/itcase_common/css/form/form-buttons/form-buttons.css
  static/itcase_common/css/form/form-checkbox/form-checkbox.css
  static/itcase_common/css/form/form-checkbox/form-checkbox_state_checked.css
  static/itcase_common/css/form/form-fields/form-field-error.css
  static/itcase_common/css/form/form-fields/form-field-message.css
  static/itcase_common/css/form/form-fields/form-field-valid.css
  static/itcase_common/css/form/form-fields/form-field__item-hint.css
  static/itcase_common/css/form/form-fields/form-field__item.css
  static/itcase_common/css/form/form-fields/form-field__item_checkbox.css
  static/itcase_common/css/form/form-fields/form-field__item_state_empty.css
  static/itcase_common/css/form/form-fields/form-field__item_state_error.css
  static/itcase_common/css/form/form-fields/form-field__item_state_in-group.css
  static/itcase_common/css/form/form-fields/form-field__item_state_valid.css
  static/itcase_common/css/form/form-fields/form-field__item_type_no-label.css
  static/itcase_common/css/form/form-input/form-input.css
  static/itcase_common/css/form/form-message/form-message.css
  static/itcase_common/css/form/form-message/form-message_type_error.css
  static/itcase_common/css/form/form-message/form-message_type_on-page.css
  static/itcase_common/css/form/form-message/form-message_type_success.css
  static/itcase_common/css/form/form-radioselect/form-radioselect-item_state_checked.css
  static/itcase_common/css/form/form-radioselect/form-radioselect.css
  static/itcase_common/css/form/form-response/form-response.css
  static/itcase_common/css/form/form-textarea/form-textarea.css
  static/itcase_common/css/form/form-title/form-title.css
  static/itcase_common/css/form/form.css
  static/itcase_common/css/form/form_type_hide_messages.css
  static/itcase_common/css/form/form_type_page.css
  static/itcase_common/css/form/form_type_popup.css
  static/itcase_common/css/form/form_type_vertical.css
  static/itcase_common/css/popup/popup-content.css
  static/itcase_feed/css/__feed.css
  templates/itcase_catalog/include/catalog_group.html
  templates/itcase_catalog/include/catalog_list.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update form
  static/css/__main.css
  static/css/button/button_type_neutral.css
  static/itcase_common/css/__common.css
  static/itcase_common/css/form/form-button/form-button.css
  static/itcase_common/css/form/form-title/form-title.css
  static/itcase_common/css/form/form.css
  static/itcase_common/css/popup/popup-loading.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update cal
  static/css/__main.css
  static/css/button/button.css
  static/css/header/header.css
  static/img/icon/calculator.svg
Due: ./node_modules/stylelint/bin/stylelint.js --fix

fix header text
  static/css/__main.css
  static/css/header/header.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

updatw drop down
  .browserslistrc
  .stylelintrc
  package-lock.json
  package.json
  static/css/__main.css
  static/css/settings.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

update button
  static/css/__main.css
  static/css/button/button.css
  static/css/button/button_type_primary.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update button
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update gallery catgalo detail
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/js/itemGallery.js
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#29. Try use django-nested-admin and django-smart-select for product price parametres, but it apperently does not work
  modules/catalog/admin/__init__.py
  modules/catalog/admin/forms.py
  modules/catalog/migrations/0022_separateparametrpicking.py
  modules/catalog/models/parametres.py
  requirements.txt
  settings/core.py
  settings/project.py
  templates/itcase_catalog/catalog_item_detail.html
  urls.py
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

catalog sort
  static/itcase_catalog/js/catalogSort.js
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update product detail
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update product detail
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

ovveride smart-selects JS
  static/smart-selects/admin/js/bindfields.js
  static/smart-selects/admin/js/chainedfk.js
Due: ./node_modules/eslint/bin/eslint.js --fix

issue#31.add field other_template to category for change template to render
  modules/catalog/admin/__init__.py
  modules/catalog/migrations/0023_category_other_template.py
  modules/catalog/models/catalog.py
  modules/catalog/views/__init__.py
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#30. output prices parametres for radio buttons
  modules/catalog/models/catalog.py
  modules/catalog/models/parametres.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update and fix smart-selects JS for adding new params
  static/smart-selects/admin/js/bindfields.js
  static/smart-selects/admin/js/chainedfk.js
Due: ./node_modules/eslint/bin/eslint.js --fix
