Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

.lintstagedrc:

{
  "*.css": [
    "./node_modules/stylelint/bin/stylelint.js --fix"
  ],
  "*.{js,jsx}": [
    "./node_modules/eslint/bin/eslint.js --fix"
  ],
  "*.{htm,html}": [
    "./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc"
  ],
  ".*{rc,json}": [
    "./node_modules/jsonlint/lib/cli.js --compact"
  ]
}

fix active class for filters
  static/itcase_catalog/js/catalogFilterPopup.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update mainpage menu
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_menu.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix close on desktop
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update search
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/base.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix ff issue with zoom
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-gallery/catalog-item-gallery.css
  static/itcase_common/css/__common.css
  static/tinymce_4/css/__tinymce_4.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

Fix queryset in 'catalog.CategoryDetail'
  modules/catalog/views.py
Due: none

update menu
  package.json
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update tablet
  static/css/__main.css
  static/css/header/header.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix 'catalog.SubCategoryDetail'
  modules/catalog/views.py
Due: none

update rotator
  Makefile
  package-lock.json
  package.json
  settings/filebrowser.py
  static/css/__main.css
  static/css/mixin.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_catalog/css/catalog-item-detail/catalog-item-detail.css
  static/itcase_common/css/__common.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed.css
  static/itcase_logos/css/__logos.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
  static/itcase_paginator/css/__paginator.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-item.css
  static/itcase_rotator/css/rotator-item_type_image-text.css
  static/itcase_rotator/css/rotator-item_type_image.css
  static/itcase_rotator/css/rotator-item_type_text.css
  static/itcase_search/css/__search.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

fix rotator
  package-lock.json
  package.json
  static/css/__main.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_common/css/__common.css
  static/itcase_feed/css/__feed.css
  static/itcase_logos/css/__logos.css
  static/itcase_pages/css/__pages.css
  static/itcase_paginator/css/__paginator.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-item.css
  static/itcase_rotator/css/rotator-item_type_image-text.css
  static/itcase_rotator/css/rotator-item_type_image.css
  static/itcase_search/css/__search.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/tinymce_4/css/__tinymce_4.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

min
  requirements.txt
Due: none

add image_description field to ProductImage
  modules/catalog/migrations/0046_productimage_image_description.py
  modules/catalog/models/catalog.py
  modules/catalog/models/parametres.py
Due: none

add openpyxl to requirements. for xlsx product import
  requirements.txt
Due: none

Fix breadcrumbs in 'catalog.ProductDetail'
  modules/catalog/views.py
Due: none

Use 'catalog.Price.show' in catalog.ProductDetail
  modules/catalog/views.py
Due: none

issue#124. add output old price to catalog_item_detail.html
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Add 'parametr_value' in 'catalog.Price.__str__'
  modules/catalog/models/parametres.py
Due: none

Fix products on main page
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Add 'active' to 'catalog.Product' model
  modules/catalog/admin.py
  modules/catalog/migrations/0047_add__active__to__product.py
  modules/catalog/models/catalog.py
  modules/catalog/views.py
Due: none

Fixed cart url
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix 'catalog.Product.get_first_image'
  modules/catalog/models/catalog.py
Due: none

resolve #124
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update detail
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add measuring in catalog list
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#118. change output image and image description.
  modules/catalog/models/catalog.py
  templates/itcase_cart/include/cart_items.html
  templates/itcase_catalog/include/catalog_item.html
  templates/itcase_search/include/search_result_list_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#124. add old_price to data in view ProductDetail.get_params_data
  modules/catalog/views.py
Due: none

Added Price.sort
  modules/catalog/models/parametres.py
Due: none

Страница скрытого товара теперь не 404
  modules/catalog/views.py
Due: none

Поправлены письма о заказе
  templates/itcase_cart/emails/order/email.html
  templates/itcase_cart/emails/order/email.txt
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Поправлены письма о заказе v2
  templates/itcase_cart/emails/order/email.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix
  templates/itcase_cart/emails/__mail_templates/order/email.html
  templates/itcase_cart/emails/__mail_templates/order/email.txt
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Синее меню вверх
  templates/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc
