Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

.lintstagedrc:

{
  "*.css": [
    "./node_modules/stylelint/bin/stylelint.js --fix"
  ],
  "*.{js,jsx}": [
    "./node_modules/eslint/bin/eslint.js --fix"
  ],
  "*.{htm,html}": [
    "./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc"
  ],
  ".*{rc,json}": [
    "./node_modules/jsonlint/lib/cli.js --compact"
  ]
}

Remove unused code
  modules/catalog/models/catalog.py
  modules/catalog/templatetags/catalog_tags.py
Due: none

update cart
  package.json
  static/img/icon/asc.svg
  static/img/icon/default.svg
  static/img/icon/desc.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-list/cart-list__item.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item-detail/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_cart/include/cart_items.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

resolve #92
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

resolve #93
  static/itcase_catalog/js/popupMenu.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

Fix 'actual_price' of product in 'catalog'
  modules/catalog/views.py
Due: none

add js for #96. resolve #97
  gulpfile.modules.js
  static/itcase_cart/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_cart/include/cart_items.html
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

init email and fix form
  Makefile
  gulpfile.modules.js
  static/css/settings.css
  static/emails/css/email-body.css
  static/emails/css/email-button.css
  static/emails/css/email-content.css
  static/emails/css/email-footer.css
  static/emails/css/email-form.css
  static/emails/css/email-header.css
  static/emails/css/email-logo.css
  static/emails/css/email-order.css
  static/emails/css/email-wrapper.css
  static/emails/css/email.css
  static/emails/img/logo.png
  static/itcase_common/css/__common.css
  static/itcase_common/css/form/form-fields/form-field-valid.css
  static/itcase_common/css/form/form-fields/form-field__item_state_empty.css
  static/itcase_common/css/form/form-fields/form-field__item_state_error.css
  static/itcase_common/css/form/form-fields/form-field__item_state_valid.css
  templates/emails/__mail_templates/base.html
  templates/emails/base.html
  templates/itcase_cart/emails/__mail_templates/order/email.html
  templates/itcase_cart/emails/__mail_templates/order/email.txt
  templates/itcase_cart/emails/__mail_templates/order/short.txt
  templates/itcase_cart/emails/order/email.html
  templates/itcase_cart/emails/order/email.txt
  templates/itcase_cart/emails/order/short.txt
  templates/itcase_entry/emails/__mail_templates/admin/email.html
  templates/itcase_entry/emails/__mail_templates/admin/email.txt
  templates/itcase_entry/emails/__mail_templates/admin/short.txt
  templates/itcase_entry/emails/__mail_templates/user/email.html
  templates/itcase_entry/emails/__mail_templates/user/email.txt
  templates/itcase_entry/emails/__mail_templates/user/short.txt
  templates/itcase_entry/emails/admin/email.html
  templates/itcase_entry/emails/admin/email.txt
  templates/itcase_entry/emails/admin/short.txt
  templates/itcase_entry/emails/user/email.html
  templates/itcase_entry/emails/user/email.txt
  templates/itcase_entry/emails/user/short.txt
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix order swith postion
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-order/cart-order.css
  static/itcase_cart/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

update order
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-list/cart-list__item.css
  static/itcase_cart/css/cart-list/cart-list__item_type_pdf.css
  static/itcase_cart/css/cart-list/cart-list_type_complete.css
  static/itcase_cart/css/cart-title.css
  static/itcase_cart/css/cart.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_cart/include/cart_items.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update email
  templates/itcase_cart/emails/__mail_templates/order/email.html
  templates/itcase_cart/emails/order/email.html
  templates/itcase_entry/emails/__mail_templates/admin/email.html
  templates/itcase_entry/emails/admin/email.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add infoblocks
  templates/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix mobile
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update packages
  package.json
Due: none

Allow add products with 'zero price' to cart
  modules/catalog/templatetags/catalog_tags.py
  modules/catalog/views.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

mobile cart
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-list/cart-list.css
  static/itcase_cart/css/cart-list/cart-list__item.css
  static/itcase_cart/css/cart-order/cart-order.css
  static/itcase_cart/css/cart-order/cart-order__delivery-method.css
  static/itcase_cart/css/cart-order/cart-order__group.css
  static/itcase_cart/css/cart.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

Fix 'actual' price of product
  modules/catalog/views.py
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix header cart button float format
  static/itcase_cart/js/main.js
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

fix float format for cart total
  static/itcase_catalog/js/main.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

fix seo
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update form
  static/css/__main.css
  static/itcase_cart/css/__cart.css
  static/itcase_common/css/__common.css
  static/itcase_common/css/form/form-buttons/form-buttons.css
  static/itcase_common/css/form/form-fields/form-field__item.css
  static/itcase_common/css/form/form_type_page.css
  static/itcase_entry/css/__entry.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed-list/feed-list__item.css
  static/itcase_feed/css/feed_type_main-page.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/forms/form_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update header and add mobile sort
  static/css/__main.css
  static/css/button/button_action_cost.css
  static/css/header/header.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/itcase_catalog/css/catalog-sort.css
  static/itcase_common/css/__common.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/page.css
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update email
  static/img/emails/logo.png
  static/img/favicon/favicon.ico
  templates/emails/__mail_templates/base.html
  templates/emails/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add global context processor
  settings/core.py
  website/context_processors.py
Due: none

update logo
  static/emails/img/logo.png
  static/img/emails/logo.png
Due: none

add recaptch keys
  settings/recaptcha.py
Due: none

add recaptch keys
  static/emails/img/logo.png
  templates/emails/__mail_templates/base.html
  templates/emails/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update logo
  static/emails/img/_logo.png
Due: none

update search
  Makefile
  modules/catalog/views.py
  package-lock.json
  package.json
  static/css/__main.css
  static/css/settings.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-form.css
  static/itcase_search/css/search-input.css
  static/itcase_search/css/search-result/search-result-empty.css
  static/itcase_search/css/search-result/search-result.css
  static/itcase_search/css/search-title.css
  static/itcase_search/css/search.css
  static/itcase_search/css/search_type_quick.css
  static/itcase_search/css/search_type_quick/search_type_quick.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_active.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_hidden.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_visible.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_groups_type_selector.html
  templates/itcase_catalog/include/catalog_menu.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update search
  .stylelintrc
  settings/filebrowser.py
  static/css/__main.css
  static/css/main-menu/main-menu.css
  static/css/settings.css
  static/css/wrapper/wrapper.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-item.css
  static/itcase_rotator/css/rotator-pagination.css
  static/itcase_rotator/css/rotator-wrapper.css
  static/itcase_search/css/__search.css
  templates/base.html
  templates/itcase_catalog/include/catalog_menu.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

update search
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-form.css
  static/itcase_search/css/search-result/search-result.css
  static/itcase_search/css/search-title.css
  static/itcase_search/css/search.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update search styles
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-result/search-result_type_quick.css
  static/itcase_search/css/search_type_quick/search_type_quick.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_hidden.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_visible.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

fix search settings on js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update search
  templates/itcase_search/include/search_result_list_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

cart template update
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-list/cart-list__item.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-result/search-result-empty.css
  templates/itcase_search/include/search_result_list_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update animation
  static/itcase_cart/css/__cart.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search_type_quick/search_type_quick.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_hidden.css
  static/itcase_search/css/search_type_quick/search_type_quick_state_visible.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

search
  static/itcase_search/css/__search.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

new search initialization
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update search
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-result/search-result.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_search/include/search_result_list_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix search's results
  settings/core.py
  templates/itcase_search/include/search_result_list_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc
