Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

Show all subcategories in catalog
  modules/catalog/models/catalog.py
  modules/catalog/views.py
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/include/catalog_categories_list.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Use 'catalog.Category.filter_parametres' in views
  modules/catalog/views.py
Due: none

Refactoring
  modules/catalog/views.py
Due: none

Add 'params_data' in 'catalog.ProductDetail' view
  modules/catalog/views.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Improve 'prices' in 'ProductDetail.params_data'
  modules/catalog/views.py
Due: none

Use json for 'ProductDetail.params_data.prices'
  modules/catalog/views.py
Due: none

enable/disable radio buttons for #30
  modules/catalog/views.py
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add disabled class for #30 (for my last commit)
  static/css/__main.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-detail/catalog-item-detail.css
  static/itcase_catalog/js/productDetail/parametres.js
  static/itcase_rotator/css/__rotator.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

update
  package-lock.json
  package.json
  static/css/__main.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  static/itcase_catalog/js/popupMenu.js
  static/itcase_common/css/__common.css
  static/itcase_common/css/popup/popup-content.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Increase 'catalog.CategoryDetail.paginate_by'
  modules/catalog/views.py
Due: none

update catalog paginator
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

min
  static/css/__main.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_common/css/__common.css
  static/itcase_feed/css/__feed.css
  static/itcase_pages/css/__pages.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_search/css/__search.css
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

min
  templates/itcase_catalog/include/catalog_group.html
  templates/itcase_catalog/include/catalog_group_second.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix close
  templates/base.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix main-page
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

new params activation
  static/itcase_catalog/js/productDetail/events.js
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

slide to actual image for param
  modules/catalog/models/catalog.py
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Add initial params in 'catalog.ProductDetail'
  modules/catalog/views.py
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/css/__main.css
  static/css/settings.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-detail/catalog-item-detail.css
  static/itcase_catalog/js/productDetail/parametres.js
  static/itcase_common/css/__common.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Refactoring
  modules/catalog/admin.py
  modules/catalog/admin/forms.py
  modules/catalog/models/catalog.py
  modules/catalog/views.py
Due: none

Fix #84
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Add 'category' in filter in catalog.CategoryDetail
  modules/catalog/views.py
Due: none

add seo in product
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix 'category' filter in 'catalog.CategoryDetail'
  modules/catalog/views.py
Due: none

Add 'active' to 'catalog.Category'
  modules/catalog/admin.py
  modules/catalog/context_processors.py
  modules/catalog/migrations/0040_add__active__to__category.py
  modules/catalog/models/catalog.py
  modules/catalog/templatetags/catalog_tags.py
  modules/catalog/views.py
  templates/itcase_catalog/include/catalog_categories_list.html
  templates/itcase_catalog/include/catalog_group_second_list.html
  templates/itcase_catalog/include/get_categories_by.html
  website/views.py
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#86. add itcase_redirect
  requirements-itcase.txt
  settings/core.py
  urls.py
Due: none

resolve #81
  static/itcase_catalog/js/catalogFilterPopup.js
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

resolve #73
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#87. add sitemaps for itcase_pages, itcase_feed, catalog.categories and catalog.products
  modules/catalog/migrations/0041_auto_20200827_1734.py
  modules/catalog/models/catalog.py
  modules/catalog/sitemap.py
  settings/core.py
  urls.py
Due: none

fix docstrings in catalog sitemap
  modules/catalog/sitemap.py
Due: none

resolve #82
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

resolve #78
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update cart
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-order/cart-order__delivery-method.css
  static/itcase_cart/css/cart-order/cart-order__group.css
  static/itcase_cart/css/cart-order/cart-order__payment.css
  static/itcase_common/css/__common.css
  static/itcase_common/css/form/form-checkbox/form-checkbox.css
  templates/itcase_cart/cart.html
  templates/itcase_cart/include/cart_items.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#87. set to all products priority = 0.81
  modules/catalog/sitemap.py
Due: none

changes for #89
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

cart for #88
  templates/itcase_cart/include/cart_items.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix prices in 'catalog.CategoryDetail'
  modules/catalog/models/catalog.py
  modules/catalog/templatetags/catalog_tags.py
  modules/catalog/views.py
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Path conditions:
  ./node_modules/stylelint/bin/stylelint.js --fix: any of: *.css
  ./node_modules/eslint/bin/eslint.js --fix: any of: *.{js,jsx}
  ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc: any of: *.{htm,html}
  ./node_modules/jsonlint/lib/cli.js --compact: any of: .*{rc,json}
