Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

update search
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-form.css
  static/itcase_search/css/search-input.css
  static/itcase_search/css/search-result/search-result.css
  static/itcase_search/css/search_type_quick/search_type_quick.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

fix add button in search
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_search/include/search_result_list_item.html
Due: ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update rotaor
  static/css/__main.css
  static/css/footer/footer.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-item_type_text.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-result/search-result.css
  static/itcase_search/css/search-result/search-result_type_quick.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/main.js
  static/js/search.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

update catalog and main page
  static/css/__main.css
  static/css/header/header.css
  static/css/main.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup_type_mobile.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu-list.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-input.css
  static/itcase_search/css/search-result/search-result-empty.css
  static/itcase_search/css/search-result/search-result.css
  static/itcase_search/css/search_type_quick/search_type_quick.css
  templates/base.html
  templates/itcase_pages/include/site_menu_popup.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add error pages
  static/css/__main.css
  static/css/error/error.css
  static/css/error/error_type_not-found.css
  static/css/error/error_type_permission.css
  static/css/error/error_type_server.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_catalog/css/catalog.css
  static/itcase_common/css/__common.css
  static/itcase_feed/css/__feed.css
  static/itcase_pages/css/__pages.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_search/css/__search.css
  templates/403.html
  templates/404.html
  templates/500.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update mobile menu
  static/css/__main.css
  static/css/button/button_type_small.css
  static/css/header/header.css
  static/img/icon/add_to_cart_white.svg
  static/img/icon/calculator.svg
  static/img/icon/call.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_cart/css/cart-empty.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/__inner/catalog-group__inner.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
  static/itcase_pages/css/site-menu/site-menu.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update cart and add logo
  static/css/__main.css
  static/css/header/header.css
  static/css/logo/logo.css
  static/img/logo.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-list/cart-list__item.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update filter button
  static/css/__main.css
  static/img/icon/filter.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  templates/itcase_catalog/include/catalog_group.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix desktop
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

fix desktop
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update form
  settings/forms_builder.py
Due: none

update header
  static/css/__main.css
  static/css/header/header.css
  static/img/icon/add_to_cart_black.svg
  static/img/icon/calculator.svg
  static/img/icon/call.svg
  static/img/logo.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update gilter button
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

add lang
  package.json
  static/tinymce_4/settings/full/language.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update tinymce
  static/css/content/content-cut.css
  static/itcase_catalog/css/__catalog.css
  static/tinymce_4/css/__tinymce_4.css
  static/tinymce_4/css/import.css
  static/tinymce_4/css/main.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

remove bower
  bower.json
  package-lock.json
  package.json
  static/css/__main.css
  static/css/bundles.css
  static/css/mixin.css
  static/css/vendor/7-three-bounce.css
  static/css/vendor/ion.rangeSlider.css
  static/css/vendor/main.css
  static/css/vendor/swiper.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-wrapper.css
  static/itcase_rotator/css/rotator.css
  static/js/.gitkeep
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/libs.js
  static/js/vendor/ion.rangeSlider.min.js
  static/js/vendor/jquery.js
  static/js/vendor/js.cookie.js
  static/js/vendor/swiper.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

Add 'template_categories_list' to catalog.Category
  modules/catalog/admin.py
  modules/catalog/migrations/0042_add__template_groups_type_selector__to__category.py
  modules/catalog/migrations/0043_add__template_categories_list__to__category.py
  modules/catalog/migrations/0044_set__template_categories_list__on__category.py
  modules/catalog/models/catalog.py
  modules/catalog/views.py
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/catalog_groups_type_selector.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix 'catelog.CategoryDetail.get_queryset'
  modules/catalog/views.py
Due: none

update some
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
  static/css/__main.css
  static/css/header/header.css
  static/img/icon/add_to_cart.svg
  static/img/icon/add_to_cart_black.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_common/css/__common.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator.css
  static/itcase_rotator/css/rotator_type_catalog.css
  static/tinymce_4/css/import.css
  templates/base.html
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_item.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add global message
  settings/grappelli.py
  static/css/__main.css
  static/css/global-message/global-message.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update cart mobile
  package-lock.json
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update catalog
  static/css/__main.css
  static/img/icon/filter.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item-gallery/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/itcase_catalog/css/catalog.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_group.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update item
  static/itcase_catalog/js/productDetail/contentTabs.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

Fix products images in cart
  templates/itcase_cart/include/cart_items.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

remove unused template in module
  static/css/main.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_common/css/__common.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_list.html
  templates/itcase_catalog/include/catalog_loading.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

class for sort #108
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

use prepareHtmlBeforeReplace for filters
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

Fix catalog's urls
  modules/catalog/urls.py
  urls.py
Due: none

update
  package.json
  static/css/content/content-list.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update
  Makefile
  package-lock.json
  settings/core.py
  settings/grappelli.py
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update search and catalog item reletaed
  static/css/__main.css
  static/css/main.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-item/catalog-item_type_related.css
  static/itcase_catalog/css/catalog-related.css
  static/itcase_common/css/__common.css
  static/itcase_entry/css/__entry.css
  static/itcase_pages/css/__pages.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-result/search-result.css
  static/itcase_search/css/search.css
  templates/base.html
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_menu.html
  templates/itcase_catalog/include/catalog_related.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix image height
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

fix sort
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-detail/catalog-item-detail.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

Add 'subcategories' to 'catalog_menu'
  templates/itcase_catalog/include/catalog_menu.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Refactoring
  modules/catalog/context_processors.py
  modules/catalog/templatetags/catalog_tags.py
  settings/core.py
  templates/base.html
  templates/itcase_catalog/catalog.html
  templates/itcase_catalog/include/catalog_menu.html
  templates/itcase_catalog/include/catalog_menu_footer.html
  templates/itcase_catalog/include/get_categories_by_level.html
  templates/itcase_pages/include/site_menu_popup.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  templates/itcase_catalog/include/catalog_menu.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Add 'filter_brand' to 'catalog.Category' model
  modules/catalog/admin.py
  modules/catalog/migrations/0045_add__filter_brand__to__category.py
  modules/catalog/models/catalog.py
  modules/catalog/views.py
Due: none

update
  package.json
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/site-menu/site-menu-popup.css
  templates/base.html
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

classes for #107
  static/itcase_catalog/js/catalogFilterPopup.js
  static/itcase_catalog/js/main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update filter
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

Path conditions:
  ./node_modules/stylelint/bin/stylelint.js --fix: any of: *.css
  ./node_modules/eslint/bin/eslint.js --fix: any of: *.{js,jsx}
  ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc: any of: *.{htm,html}
  ./node_modules/jsonlint/lib/cli.js --compact: any of: .*{rc,json}
