Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

.lintstagedrc:

{
  "*.css": [
    "./node_modules/stylelint/bin/stylelint.js --fix"
  ],
  "*.{js,jsx}": [
    "./node_modules/eslint/bin/eslint.js --fix"
  ],
  "*.{htm,html}": [
    "./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc"
  ],
  ".*{rc,json}": [
    "./node_modules/jsonlint/lib/cli.js --compact"
  ]
}

fix admin product search
  modules/catalog/admin/__init__.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

prepare requests for product params
  static/itcase_catalog/js/productDetail/parametres.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

fix package.json
  package-lock.json
  package.json
Due: none

Fix 'query_name' in 'catalog.ProductListView'
  modules/catalog/views/__init__.py
Due: none

update saerch
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search_type_quick.css
  templates/base.html
  templates/itcase_catalog/include/catalog_nav.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update catalog
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group-second.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator_type_catalog.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_group_second.html
  templates/itcase_catalog/include/catalog_group_second_list.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#61. hide from filter categories without products
  modules/catalog/views/__init__.py
Due: none

update item detail
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item-detail.css
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#63. awkward filter in catefories.
  modules/catalog/views/__init__.py
Due: none

update detail
  templates/itcase_catalog/catalog_groups.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update filter
  static/css/__main.css
  static/css/wrapper/wrapper.css
  static/itcase_cart/css/__cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-list.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/itcase_catalog/css/catalog-sort.css
  static/itcase_common/css/__common.css
  static/itcase_feed/css/__feed.css
  static/itcase_logos/css/__logos.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/nav/nav.css
  static/itcase_paginator/css/__paginator.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_search/css/__search.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#63. add extra part "?filter-category=pk" in url category level=2
  modules/catalog/models/catalog.py
  modules/catalog/views/__init__.py
Due: none

Custom view for filter by params
  modules/catalog/templates/catalog/product_list.html
  modules/catalog/urls.py
  modules/catalog/views/foo.py
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update mobile filter and fix catalog
  package.json
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-popup.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  static/itcase_catalog/css/catalog-group/catalog-group-second.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item/catalog-item_type_placeholder.css
  static/itcase_catalog/css/catalog-list/catalog-list.css
  static/itcase_catalog/css/catalog-list/catalog-list_type_scroll.css
  static/itcase_catalog/css/catalog-loading.css
  static/itcase_catalog/js/catalogFilterPopup.js
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog.html
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/catalog_group.html
  templates/itcase_catalog/include/catalog_list.html
  templates/itcase_catalog/include/catalog_main_page_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update mobile version
  static/css/__main.css
  static/css/content/content-table.css
  static/css/content/content-text.css
  static/css/content/content.css
  static/css/footer/footer.css
  static/css/header/header.css
  static/css/wrapper/wrapper.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-content.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

filter checkbox for #66
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

resolve #68
  static/itcase_catalog/js/main.js
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

update items
  static/css/__main.css
  static/css/content/content-list.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-detail/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item-gallery/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update catalog nav / fix menu / update search
  modules/catalog/templatetags/catalog_tags.py
  package-lock.json
  package.json
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item-gallery/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-menu/catalog-menu-popup.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_catalog/js/itemGallery.js
  static/itcase_catalog/js/popupMenu.js
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed_type_main-page.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search_type_quick.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_menu.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update cart
  static/css/__main.css
  static/css/header/header.css
  static/css/settings.css
  static/img/icon/add_to_cart_red.svg
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-title.css
  static/itcase_cart/css/cart.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/js/__build/__libs.js
  static/js/__build/__main.js
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix

Complete filters in catalog
  modules/catalog/admin/__init__.py
  modules/catalog/urls.py
  modules/catalog/views/foo.py
  templates/foo-category.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

quick search
  package-lock.json
  static/js/__build/__libs.js
  static/js/__build/__main.js
  static/js/main.js
Due: ./node_modules/eslint/bin/eslint.js --fix

Complete filters in templates
  modules/catalog/models/catalog.py
  modules/catalog/urls.py
  modules/catalog/views/foo.py
  templates/itcase_catalog/include/catalog_categories_list.html
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/include/catalog_group.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Remove unused code
  templates/foo-category.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update search
  static/css/__main.css
  static/css/header/header.css
  static/css/header/header_state_active.css
  static/itcase_common/css/__common.css
  static/itcase_search/css/__search.css
  static/itcase_search/css/search-input.css
  static/itcase_search/css/search_type_quick.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

Fix issue #70
  modules/catalog/views/foo.py
Due: none

Use 'catalog.Price.show' in catalog.CategoryDetail
  modules/catalog/views/foo.py
Due: none

Sort params in filter in catalog.CategoryDetail
  modules/catalog/admin/__init__.py
  modules/catalog/views/foo.py
Due: none

Use show in 'catalog.Product.get_prices_parametres
  modules/catalog/models/catalog.py
Due: none

update filter
  static/css/__main.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter-group/__list/catalog-filter-group__list.css
  static/itcase_catalog/css/catalog-filter-group/__range/catalog-filter-group__range.css
  static/itcase_catalog/css/catalog-filter-group/__title/catalog-filter-group__title.css
  static/itcase_catalog/css/catalog-filter-group/catalog-filter-group.css
  static/itcase_catalog/css/catalog-filter-group/catalog-filter-group_type_special.css
  static/itcase_catalog/css/catalog-filter/catalog-filter-group/__title/catalog-filter-group__title.css
  static/itcase_catalog/css/catalog-filter/catalog-filter.css
  static/itcase_catalog/css/catalog-sort-dropdown/catalog-sort-dropdown.css
  static/itcase_search/css/__search.css
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update catalog nav and filter
  modules/catalog/templates/catalog/product_list.html
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-filter-group/__list/catalog-filter-group__list.css
  static/itcase_catalog/css/catalog-filter-group/__range/catalog-filter-group__range.css
  static/itcase_catalog/css/catalog-group/catalog-group-second.css
  static/itcase_catalog/css/catalog-related.css
  static/itcase_pages/css/__pages.css
  static/itcase_pages/css/nav/nav.css
  templates/itcase_catalog/catalog_groups.html
  templates/itcase_catalog/catalog_item_detail.html
  templates/itcase_catalog/include/catalog_categories_list.html
  templates/itcase_catalog/include/catalog_filter.html
  templates/itcase_catalog/other_catalog_groups.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#63. connected sorting to foo.CategoryDetail
  modules/catalog/views/foo.py
Due: none

Refactoring SQL in catalog.CategoryDetail
  modules/catalog/views/foo.py
Due: none

Add 'urls_debug' in `gitignore`
  .gitignore
Due: none

Sort full queryset in 'catalog.CategoryDetail'
  modules/catalog/views/foo.py
Due: none

init tablet
  static/css/__main.css
  static/css/footer/footer.css
  static/css/header/header.css
  static/css/logo/logo.css
  static/css/main-menu/main-menu.css
  static/css/wrapper/wrapper.css
  static/itcase_cart/css/__cart.css
  static/itcase_cart/css/cart-button.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-group/catalog-group.css
  static/itcase_catalog/css/catalog-item/catalog-item.css
  static/itcase_catalog/css/catalog-menu/catalog-menu.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed_type_main-page.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

Non-blocked filters in catalog
  modules/catalog/views/foo.py
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Refactoring `catalog.views`
  modules/catalog/urls.py
  modules/catalog/views.py
  modules/catalog/views/__init__.py
  modules/catalog/views/mixins.py
  templates/itcase_catalog/include/catalog_sort.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc
