Repository chukreev-alexey/pst: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/eslint/bin/eslint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc, ./node_modules/jsonlint/lib/cli.js --compact

templates for checking work process
  templates/itcase_cart/include/cart_items.html
  templates/itcase_catalog/include/catalog_filter.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix "queue" > "queues" in settings/cache.py
  settings/cache.py
Due: none

improvement of storage logic for prices
  modules/catalog/admin.py
  modules/catalog/migrations/0005_pricecombinations.py
  modules/catalog/migrations/0006_auto_20200707_1744.py
  modules/catalog/models/parametres.py
  modules/catalog/views.py
Due: none

issue#4. add fields recommend_categories and recommend_products for model Product
  modules/catalog/admin.py
  modules/catalog/migrations/0007_auto_20200724_1525.py
  modules/catalog/models/catalog.py
  templates/itcase_catalog/catalog_item_detail.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

add base
  templates/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

ini index
  templates/base.html
  templates/itcase_catalog/catalog.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Fix settings.CACHES
  settings/cache.py
Due: none

issue#6. add on_main_page field. output on website/index.html categories(on_main_page=True)
  modules/catalog/admin.py
  modules/catalog/migrations/0008_category_on_main_page.py
  modules/catalog/models/catalog.py
  website/templates/website/index.html
  website/views.py
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#8. add itcase_logos
  requirements-itcase.txt
  settings/core.py
  urls.py
Due: none

issue#10. add templatetag for output first level subcategories
  modules/catalog/templatetags/catalog_tags.py
  templates/itcase_catalog/include/subcategories_list.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#9. add field in_menu to Category.
  modules/catalog/admin.py
  modules/catalog/migrations/0009_category_in_menu.py
  modules/catalog/models/catalog.py
  modules/catalog/templatetags/catalog_tags.py
Due: none

init catalog
  static/css/__main.css
  static/css/header/header.css
  static/css/settings.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-category-menu.css
  static/itcase_catalog/css/catalog-filter-popup.css
  static/itcase_catalog/css/catalog-filter.css
  static/itcase_catalog/css/catalog-group.css
  static/itcase_catalog/css/catalog-group__inner-list.css
  static/itcase_catalog/css/catalog-icon.css
  static/itcase_catalog/css/catalog-item-detail.css
  static/itcase_catalog/css/catalog-item-gallery.css
  static/itcase_catalog/css/catalog-item.css
  static/itcase_catalog/css/catalog-item_type_action.css
  static/itcase_catalog/css/catalog-item_type_big.css
  static/itcase_catalog/css/catalog-item_type_hit.css
  static/itcase_catalog/css/catalog-item_type_recommended.css
  static/itcase_catalog/css/catalog-list.css
  static/itcase_catalog/css/catalog-loading.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_catalog/css/catalog-nav.css
  static/itcase_catalog/css/catalog-related.css
  static/itcase_catalog/css/catalog-sort.css
  static/itcase_catalog/css/catalog.css
  static/itcase_catalog/css/import.css
  static/itcase_catalog/css/irs.css
  templates/base.html
  templates/itcase_catalog/include/catalog_nav.html
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#7. add product groups to main page(hit, action, recommended)
  modules/catalog/admin.py
  modules/catalog/migrations/0010_auto_20200728_1548.py
  modules/catalog/models/catalog.py
  modules/catalog/views.py
  templates/itcase_catalog/catalog.html
  templates/itcase_catalog/include/catalog_main_page_groups.html
  website/templates/website/index.html
  website/views.py
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page
  static/css/__main.css
  static/css/wrapper/wrapper.css
  templates/base.html
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update base.html
  templates/base.html
  templates/itcase_catalog/include/subcategories_list.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/css/__main.css
  static/css/footer/footer-banner.css
  static/css/footer/footer-city.css
  static/css/footer/footer-contact.css
  static/css/footer/footer.css
  static/css/settings.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#6. output categories example
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#10. fix use first_level_subcategories in base.html
  templates/base.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main pagw
  media/uploads/.gitkeep
  package.json
  static/css/__main.css
  static/css/button/button.css
  static/css/button/button_type_fifth.css
  static/css/button/button_type_fourthly.css
  static/css/button/button_type_neutral.css
  static/css/footer/footer-info.css
  static/css/footer/footer-menu.css
  static/css/footer/footer.css
  static/css/header/header.css
  static/css/main-menu/main-menu.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/css/__main.css
  static/css/footer/footer.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu.css
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

fix indexe
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#10. change filter in catalog_menu to in_menu=True only
  modules/catalog/templatetags/catalog_tags.py
Due: none

issue#10. rename first_level_categories to footer_categories. change filter for categories to level=0
  modules/catalog/templatetags/catalog_tags.py
  templates/base.html
  templates/itcase_catalog/include/footer_categories_list.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#13. add field old_price to model Price
  modules/catalog/migrations/0011_price_old_price.py
  modules/catalog/models/parametres.py
Due: none

issue#17. remove fields pdf_instructtion, pdf_components, scheme from Product model
  modules/catalog/admin.py
  modules/catalog/migrations/0012_auto_20200729_1852.py
  modules/catalog/models/catalog.py
Due: none

issue#16. add field measuring to model Product.
  modules/catalog/admin.py
  modules/catalog/migrations/0013_product_measuring.py
  modules/catalog/models/catalog.py
Due: none

add rotator
  settings/filebrowser.py
  static/css/__main.css
  static/css/footer/footer-menu.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_rotator/css/__rotator.css
  static/itcase_rotator/css/rotator-container.css
  static/itcase_rotator/css/rotator-item.css
  static/itcase_rotator/css/rotator-pagination.css
  static/itcase_rotator/css/rotator-wrapper.css
  static/itcase_rotator/css/rotator.css
  templates/base.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update index
  settings/filebrowser.py
  static/css/__main.css
  static/css/header/header.css
  static/css/main.css
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed-list/feed-list.css
  static/itcase_feed/css/feed_type_main-page.css
  templates/itcase_catalog/include/catalog_nav.html
  website/templates/website/index.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#19. add tag get_categories_by some parametr
  modules/catalog/templatetags/catalog_tags.py
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#19. add title to template for tag get_categories_by
  templates/itcase_catalog/include/get_categories_by.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update main page feed
  static/css/__main.css
  static/css/wrapper/wrapper.css
  static/itcase_feed/css/__feed.css
  static/itcase_feed/css/feed_type_main-page.css
Due: ./node_modules/stylelint/bin/stylelint.js --fix

update
  templates/itcase_catalog/include/catalog_nav.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

update
  static/itcase_catalog/css/__catalog.css
  static/itcase_catalog/css/catalog-menu.css
  templates/itcase_catalog/include/catalog_nav.html
  templates/itcase_catalog/include/get_categories_by.html
Due: ./node_modules/stylelint/bin/stylelint.js --fix, ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

issue#19. replace include to templatetag in catalog_nav.html
  templates/itcase_catalog/include/catalog_nav.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

INSTALLED_APPS order
  settings/core.py
Due: none

Configure Django Compressor
  settings/compressor.py
Due: none

issue#9,#10. refactorimg templatetags logic. getting context from context_processor for tags
  modules/catalog/context_processors.py
  modules/catalog/models/catalog.py
  modules/catalog/templatetags/catalog_tags.py
  modules/catalog/views.py
  settings/core.py
  templates/itcase_catalog/include/get_categories_by.html
  website/templates/website/index.html
Due: ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc

Path conditions:
  ./node_modules/stylelint/bin/stylelint.js --fix: any of: *.css
  ./node_modules/eslint/bin/eslint.js --fix: any of: *.{js,jsx}
  ./node_modules/htmlhint/bin/htmlhint --config ./.htmlhintrc: any of: *.{htm,html}
  ./node_modules/jsonlint/lib/cli.js --compact: any of: .*{rc,json}
